Repository ucstu/dongjiang-recruitment: changes, and which lint-staged commands are due for each by the changed paths.
All: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

fix: fix
  backend/advertiser-service/src/advertise/advertise.controller.ts
  backend/applicant-service/src/attentionRecord/attentionRecord.controller.ts
  backend/applicant-service/src/deliveryRecord/deliveryRecord.controller.ts
  backend/applicant-service/src/educationExperience/educationExperience.controller.ts
  backend/applicant-service/src/garnerRecord/garnerRecord.controller.ts
  backend/applicant-service/src/inspectionRecord/inspectionRecord.controller.ts
  backend/applicant-service/src/jobExpectation/jobExpectation.controller.ts
  backend/applicant-service/src/projectExperience/projectExperience.controller.ts
  backend/applicant-service/src/workExperience/workExperience.controller.ts
  backend/company-service/src/company/company.controller.ts
  backend/company-service/src/position/position.controller.ts
  backend/personnel-service/src/inspectionRecord/inspectionRecord.controller.ts
  backend/scripts/services.json
  backend/scripts/src/services.ts
  frontend/applicant-interface/src/pages/account/denglu_zhuce/denglu.vue
  frontend/applicant-interface/src/pages/account/denglu_zhuce/wangjimima.vue
  frontend/applicant-interface/src/pages/account/denglu_zhuce/zhucezhanghao.vue
  frontend/applicant-interface/src/stores/auth.ts
  scripts/bin/generator/templates/second/second.controller.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/authentication-service/src/account/entities/account.entity.ts
  backend/company-service/src/company/entities/company.entity.ts
  backend/scripts/package.json
  backend/scripts/services.json
  backend/scripts/src/services.ts
  frontend/personnel-interface/components.d.ts
  frontend/personnel-interface/src/App.vue
  frontend/personnel-interface/src/pages/Home/Company.vue
  frontend/personnel-interface/src/pages/Setting/Other/Password.vue
  frontend/personnel-interface/src/pages/Setting/Other/Privary.vue
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/common-service/package.json
  backend/common-service/src/common/common.controller.ts
  backend/common-service/src/common/common.service.ts
  backend/scripts/package.json
  backend/scripts/services.json
  packages/nest-common/package.json
  packages/nest-common/src/config/configuration.yaml.ts
  packages/nest-common/src/config/index.ts
  packages/nest-common/src/config/minio.config.ts
  packages/nest-common/src/index.ts
  packages/nest-common/src/minio/index.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

1111
  frontend/applicant-interface/auto-imports.d.ts
  frontend/applicant-interface/components.d.ts
  frontend/manager-interface/.eslintrc.auto
  frontend/manager-interface/auto-imports.d.ts
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/env.d.ts
  frontend/manager-interface/package.json
  frontend/manager-interface/public/favicon.ico
  frontend/manager-interface/src/App.vue
  frontend/manager-interface/src/assets/icons/login.svg
  frontend/manager-interface/src/assets/images/logo.png
  frontend/manager-interface/src/assets/logo.svg
  frontend/manager-interface/src/components/HelloWorld.vue
  frontend/manager-interface/src/components/TheWelcome.vue
  frontend/manager-interface/src/components/WelcomeItem.vue
  frontend/manager-interface/src/components/icons/IconCommunity.vue
  frontend/manager-interface/src/components/icons/IconDocumentation.vue
  frontend/manager-interface/src/components/icons/IconEcosystem.vue
  frontend/manager-interface/src/components/icons/IconSupport.vue
  frontend/manager-interface/src/components/icons/IconTooling.vue
  frontend/manager-interface/src/components/nav-bar.vue
  frontend/manager-interface/src/main.ts
  frontend/manager-interface/src/pages/account-manage/account-manage.vue
  frontend/manager-interface/src/pages/authentication/forget-page.vue
  frontend/manager-interface/src/pages/authentication/login-page.vue
  frontend/manager-interface/src/pages/authentication/register-page.vue
  frontend/manager-interface/src/router/index.ts
  frontend/manager-interface/src/stores/main.ts
  frontend/manager-interface/src/views/AboutView.vue
  frontend/manager-interface/src/views/HomeView.vue
  frontend/manager-interface/src/views/main-view.vue
  frontend/manager-interface/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

1111
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/env.d.ts
  frontend/manager-interface/src/App.vue
  frontend/manager-interface/src/assets/style.scss
  frontend/manager-interface/src/components/nav-bar.vue
  frontend/manager-interface/src/hooks/has-permission.ts
  frontend/manager-interface/src/hooks/index.ts
  frontend/manager-interface/src/pages/authentication/forget-page.vue
  frontend/manager-interface/src/pages/authentication/login-page.vue
  frontend/manager-interface/src/pages/authentication/register-page.vue
  frontend/manager-interface/src/router/index.ts
  frontend/manager-interface/src/stores/main.ts
  frontend/manager-interface/src/views/main-view.vue
  frontend/manager-interface/vite.config.ts
  packages/service-common/openapi.json
  packages/service-common/src/request/models/Account.ts
  packages/service-common/src/request/models/Advertise.ts
  packages/service-common/src/request/models/AuthorityGroup.ts
  packages/service-common/src/request/schemas/$Account.ts
  packages/service-common/src/request/schemas/$AuthorityGroup.ts
  packages/service-common/src/request/services/AdvertiserAdvertiseService.ts
  packages/service-common/src/request/services/AuthenticationAccountService.ts
  packages/service-common/src/request/services/AuthenticationService.ts
  packages/vite-config/src/base.ts
  packages/vite-config/src/uni.ts
  packages/vite-config/src/web.ts
Due: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

fix: fix
  frontend/applicant-interface/vite.config.ts
  frontend/personnel-interface/vite.config.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/authentication-service/src/account/account.service.ts
  backend/authentication-service/src/account/entities/account.entity.ts
  backend/authentication-service/src/actions/actions.service.ts
  backend/authentication-service/src/authority-group/authority-group.service.ts
  backend/authentication-service/src/authority-group/entities/authority-group.entity.ts
  backend/authentication-service/src/authority/entities/authority.entity.ts
  backend/scripts/package.json
  backend/scripts/services.json
  frontend/manager-interface/.env.develop
  frontend/manager-interface/auto-imports.d.ts
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/env.d.ts
  frontend/manager-interface/src/App.vue
  frontend/manager-interface/src/hooks/use-resource.ts
  frontend/manager-interface/src/layouts/components/header.vue
  frontend/manager-interface/src/layouts/components/menu.vue
  frontend/manager-interface/src/layouts/components/nav-bar.vue
  frontend/manager-interface/src/layouts/main.vue
  frontend/manager-interface/src/layouts/view.vue
  frontend/manager-interface/src/router/index.ts
  packages/service-common/openapi.json
  packages/service-common/package.json
  packages/service-common/scripts/set-auth.ts
  packages/service-common/src/request/services/AuthenticationAuthorityService.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/applicant-interface/auto-imports.d.ts
  frontend/applicant-interface/components.d.ts
  frontend/applicant-interface/src/stores/main.ts
  packages/vite-config/src/uni.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: 修复hr信息填写id为null出错误
  frontend/personnel-interface/src/pages/LoginPage/LoginPage.vue
Due: none

12
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/env.d.ts
  frontend/manager-interface/index.html
  frontend/manager-interface/package.json
  frontend/manager-interface/src/App.vue
  frontend/manager-interface/src/hooks/has-permission.ts
  frontend/manager-interface/src/hooks/index.ts
  frontend/manager-interface/src/layouts/components/header.vue
  frontend/manager-interface/src/layouts/components/menu.vue
  frontend/manager-interface/src/layouts/components/nav-bar.vue
  frontend/manager-interface/src/layouts/main.vue
  frontend/manager-interface/src/layouts/view.vue
  frontend/manager-interface/src/pages/account-manage/account-manage.vue
  frontend/manager-interface/src/pages/account-manage/authority-group-manage.vue
  frontend/manager-interface/src/pages/account-manage/authority-manage.vue
  frontend/manager-interface/src/pages/authentication/login-page.vue
  frontend/manager-interface/src/pages/home-page.vue
  frontend/manager-interface/src/router/index.ts
  frontend/manager-interface/src/router/index.tsx
  frontend/manager-interface/src/stores/main.ts
  frontend/manager-interface/src/utils/common/common.ts
  frontend/manager-interface/src/utils/common/index.ts
  frontend/manager-interface/src/utils/common/is.ts
  frontend/manager-interface/src/utils/icon.ts
  frontend/manager-interface/src/utils/index.ts
  packages/service-common/openapi.json
  packages/service-common/src/request/models/Account.ts
  packages/service-common/src/request/schemas/$Account.ts
  packages/service-common/src/request/services/AuthenticationAccountService.ts
  packages/service-common/src/request/services/AuthenticationAuthorityService.ts
  packages/service-common/src/utils/builder.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/applicant-service/src/applicant/applicant.controller.ts
  backend/applicant-service/src/applicant/applicant.module.ts
  backend/applicant-service/src/applicant/applicant.service.ts
  backend/applicant-service/src/deliveryRecord/deliveryRecord.module.ts
  backend/applicant-service/src/inspectionRecord/inspectionRecord.module.ts
  backend/common-service/package.json
  backend/common-service/src/common/common.module.ts
  backend/common-service/src/common/message.gateway.ts
  backend/company-service/src/company/company.service.ts
  backend/personnel-service/src/inspectionRecord/inspectionRecord.module.ts
  backend/personnel-service/src/personnel/personnel.controller.ts
  backend/personnel-service/src/personnel/personnel.module.ts
  backend/personnel-service/src/personnel/personnel.service.ts
  backend/scripts/package.json
  backend/scripts/services.json
  backend/scripts/src/services.ts
  frontend/applicant-interface/src/App.vue
  frontend/applicant-interface/src/pages/detail/zhiweixiangqing/zhiweixiangqing.vue
  frontend/personnel-interface/auto-imports.d.ts
  frontend/personnel-interface/components.d.ts
  frontend/personnel-interface/package.json
  frontend/personnel-interface/src/components/System/System.vue
  frontend/personnel-interface/src/pages/Home/Company.vue
  frontend/personnel-interface/src/pages/Home/Person.vue
  frontend/personnel-interface/src/pages/Manage/Individual/Firm.vue
  frontend/personnel-interface/src/pages/Manage/ManageSidebar.vue
  frontend/personnel-interface/src/pages/Manage/Resume/ReResume.vue
  frontend/personnel-interface/src/pages/Manage/Talent/index.vue
  frontend/personnel-interface/src/pages/Setting/PersonInfo/index.vue
  frontend/personnel-interface/src/router/index.ts
  package.json
  packages/service-common/src/request/services/CommonService.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/applicant-service/src/attentionRecord/attentionRecord.module.ts
  backend/applicant-service/src/inspectionRecord/entities/inspectionRecord.entity.ts
  backend/common-service/src/common/message.gateway.ts
  backend/company-service/src/company/company.service.ts
  backend/personnel-service/src/inspectionRecord/entities/inspectionRecord.entity.ts
  frontend/applicant-interface/package.json
  frontend/applicant-interface/src/hooks/until.ts
  frontend/applicant-interface/src/pages/detail/gongsijieshao/gongsijieshao.vue
  frontend/applicant-interface/src/pages/detail/zhiweixiangqing/zhiweixiangqing.vue
  frontend/applicant-interface/src/pages/info/gerenxinxi/gerenxinxi.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/mine/liaotianyemian/liaotianyemian.vue
  frontend/applicant-interface/src/pages/most/weizhixuanze/weizhixuanze.vue
  frontend/applicant-interface/src/pages/record/shuikanguowo/shuikanguowo.vue
  frontend/applicant-interface/src/stores/main.ts
  frontend/personnel-interface/package.json
  frontend/personnel-interface/src/pages/Manage/Interview/index.vue
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatBoxBottom.vue
  frontend/personnel-interface/src/pages/Manage/Message/index.vue
  frontend/personnel-interface/src/pages/Manage/Resume/ReResume.vue
  frontend/personnel-interface/src/pages/Manage/Resume/index.vue
  frontend/personnel-interface/src/pages/Manage/index.vue
  frontend/personnel-interface/src/stores/main.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/advertiser-service/src/advertise/advertise.service.ts
  backend/advertiser-service/src/advertise/entities/advertise.entity.ts
  backend/applicant-service/src/attentionRecord/attentionRecord.service.ts
  backend/applicant-service/src/attentionRecord/entities/attentionRecord.entity.ts
  backend/applicant-service/src/deliveryRecord/deliveryRecord.service.ts
  backend/applicant-service/src/deliveryRecord/entities/deliveryRecord.entity.ts
  backend/applicant-service/src/educationExperience/educationExperience.service.ts
  backend/applicant-service/src/educationExperience/entities/educationExperience.entity.ts
  backend/applicant-service/src/external.entity.ts
  backend/applicant-service/src/garnerRecord/entities/garnerRecord.entity.ts
  backend/applicant-service/src/garnerRecord/garnerRecord.service.ts
  backend/applicant-service/src/inspectionRecord/entities/inspectionRecord.entity.ts
  backend/applicant-service/src/inspectionRecord/inspectionRecord.service.ts
  backend/applicant-service/src/jobExpectation/entities/jobExpectation.entity.ts
  backend/applicant-service/src/jobExpectation/jobExpectation.service.ts
  backend/applicant-service/src/projectExperience/entities/projectExperience.entity.ts
  backend/applicant-service/src/projectExperience/projectExperience.service.ts
  backend/applicant-service/src/workExperience/entities/workExperience.entity.ts
  backend/applicant-service/src/workExperience/workExperience.service.ts
  backend/authentication-service/src/account/account.service.ts
  backend/company-service/src/external.entity.ts
  backend/company-service/src/position/entities/position.entity.ts
  backend/company-service/src/position/position.service.ts
  backend/personnel-service/src/inspectionRecord/entities/inspectionRecord.entity.ts
  backend/personnel-service/src/inspectionRecord/inspectionRecord.service.ts
  backend/personnel-service/src/personnel/entities/personnel.entity.ts
  frontend/applicant-interface/vite.config.ts
  frontend/manager-interface/vite.config.ts
  frontend/personnel-interface/src/pages/Home/Company.vue
  frontend/personnel-interface/src/pages/LoginPage/LoginPage.vue
  frontend/personnel-interface/src/pages/Manage/Resume/index.vue
  frontend/personnel-interface/src/pages/PublishJob/PublishJob.vue
  frontend/personnel-interface/vite.config.ts
  packages/nest-common/src/typeorm/index.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/advertiser-service/src/advertise/advertise.controller.ts
  backend/advertiser-service/src/advertise/advertise.module.ts
  backend/advertiser-service/src/advertiser/advertiser.controller.ts
  backend/advertiser-service/src/advertiser/advertiser.module.ts
  backend/advertiser-service/src/advertiser/advertiser.service.ts
  backend/authentication-service/src/account/account.service.ts
  backend/authentication-service/src/account/dto/create-account.dto.ts
  frontend/applicant-interface/public/favicon.ico
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/env.d.ts
  frontend/manager-interface/src/hooks/has-permission.ts
  frontend/manager-interface/src/layouts/components/menu.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertiser-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-group-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-manage.vue
  frontend/manager-interface/src/pages/company-manage/company-manage.vue
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
  frontend/manager-interface/src/router/index.tsx
  frontend/manager-interface/src/stores/main.ts
  packages/service-common/openapi.json
  packages/service-common/src/request/services/AdvertiserAdvertiseService.ts
  packages/service-common/src/request/services/AdvertiserService.ts
  packages/service-common/src/request/services/AuthenticationAccountService.ts
  packages/service-common/src/request/services/CompanyService.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/manager-interface/components.d.ts
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/account-manage.vue
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertiser-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/account-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-group-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-manage.vue
  frontend/manager-interface/src/pages/company-manage/company-manage.vue
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
Due: none

fix
  frontend/applicant-interface/src/App.vue
  frontend/applicant-interface/src/components/CompanyDetail/CompanyDetail.vue
  frontend/applicant-interface/src/components/CompanyPanel/CompanyPanel.vue
  frontend/applicant-interface/src/pages/account/denglu_zhuce/zhucezhanghao.vue
  frontend/applicant-interface/src/pages/info/gongzuojingli/gongzuojingli.vue
  frontend/applicant-interface/src/pages/info/jiaoyujingli/jiaoyujingli.vue
  frontend/applicant-interface/src/pages/info/qiuzhiqiwang/qiuzhiqiwang.vue
  frontend/applicant-interface/src/pages/info/qiuzhiyixiang/qiuzhiyixiang.vue
  frontend/applicant-interface/src/pages/info/xiangmujingli/xiangmujingli.vue
  frontend/applicant-interface/src/pages/init/tianjiaqiuzhiqiwang/tianjiaqiuzhiqiwang.vue
  frontend/applicant-interface/src/pages/init/wanshangerenxinxi/wanshangerenxinxi.vue
  frontend/applicant-interface/src/pages/init/wanshangongzuojingli/wanshangongzuojingli.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/most/shaixuanyemian/shaixuanyemian.vue
  frontend/applicant-interface/src/pages/record/shoucangzhiwei/shoucangzhiwei.vue
  frontend/applicant-interface/src/pages/setting/wodezhanghu/wodezhanghu.vue
Due: none

fix
  frontend/applicant-interface/src/pages/main/Page_24Hmianshiyemian/Page_24Hmianshiyemian.vue
Due: none

fix: fix
  frontend/advertiser-interface/src/pages/advertise-manage.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
Due: none

fix
  frontend/applicant-interface/src/hooks/has-permission.ts
  frontend/applicant-interface/src/hooks/index.ts
  frontend/applicant-interface/src/hooks/use-path.ts
  frontend/applicant-interface/src/pages/info/qiuzhiqiwang/qiuzhiqiwang.vue
  frontend/applicant-interface/src/pages/main/Page_24Hmianshiyemian/Page_24Hmianshiyemian.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/advertiser-service/src/advertise/entities/advertise.entity.ts
  backend/common-service/package.json
  backend/common-service/src/common/common.controller.ts
  backend/common-service/src/common/common.service.ts
  frontend/advertiser-interface/src/pages/advertise-manage.vue
  frontend/advertiser-interface/src/router/index.tsx
  frontend/manager-interface/src/router/index.tsx
  packages/nest-common/src/config/alipay.config.ts
  packages/nest-common/src/config/configuration.yaml.ts
  packages/nest-common/src/config/index.ts
  packages/service-common/openapi.json
  packages/service-common/src/request/services/CommonService.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  .github/workflows/monorepo-scripts/configuration.json
Due: s-prettier

fix: fix
  frontend/Dockerfile.web
Due: none

fix: fix
  .github/workflows/monorepo-scripts/configuration.json
  .github/workflows/monorepo-scripts/detect-changes.js
Due: s-prettier

fix: fix
  frontend/Dockerfile.web
  frontend/advertiser-interface/src/pages/advertise-manage.vue
  frontend/advertiser-interface/src/router/index.tsx
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertiser-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/account-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-group-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-manage.vue
  frontend/manager-interface/src/pages/company-manage/company-manage.vue
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
  frontend/manager-interface/src/router/index.tsx
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/advertiser-interface/src/router/index.tsx
  frontend/manager-interface/src/router/index.tsx
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/applicant-interface/src/components/CompanyDetail/CompanyDetail.vue
  frontend/applicant-interface/src/components/JobDetail/JobDetail.vue
  frontend/applicant-interface/src/components/NavigationBar/NavigationBar.vue
  frontend/applicant-interface/src/components/SearchAndFilter/FilterBar.vue
  frontend/applicant-interface/src/components/SearchAndFilter/SearchAndFilter.vue
  frontend/applicant-interface/src/pages.json
  frontend/applicant-interface/src/pages/detail/xiangguangongsi/xiangguangongsi.vue
  frontend/applicant-interface/src/pages/main/Page_24Hmianshiyemian/Page_24Hmianshiyemian.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/most/sousuoyemian/sousuoyemian.vue
  frontend/applicant-interface/src/pages/most/webview/webview.vue
  frontend/applicant-interface/src/pages/record/daimianshi/daimianshi.vue
  frontend/applicant-interface/src/pages/record/guanzhugongsi/guanzhugongsi.vue
  frontend/applicant-interface/src/pages/record/shoucangzhiwei/shoucangzhiwei.vue
  frontend/applicant-interface/src/pages/record/shuikanguowo/shuikanguowo.vue
  frontend/applicant-interface/src/pages/record/toudijilu/toudijilu.vue
  frontend/manager-interface/src/pages/advertiser-manage/advertise-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/account-manage.vue
  frontend/manager-interface/src/pages/authentication-manage/authority-group-manage.vue
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
Due: s-prettier

fix
  frontend/applicant-interface/src/components/JobDetail/JobDetail.vue
  frontend/applicant-interface/src/components/SearchAndFilter/FilterBar.vue
Due: none

fix: fix
  frontend/applicant-interface/src/pages/info/qiuzhiqiwang/qiuzhiqiwang.vue
  frontend/applicant-interface/src/pages/main/Page_24Hmianshiyemian/Page_24Hmianshiyemian.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/most/weizhixuanze/weizhixuanze.vue
  frontend/applicant-interface/src/stores/main.ts
  packages/service-common/src/index.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/advertiser-interface/index.html
  frontend/advertiser-interface/src/App.vue
  frontend/applicant-interface/src/components/SearchAndFilter/FilterBar.vue
  frontend/applicant-interface/src/components/SearchAndFilter/SearchAndFilter.vue
  frontend/applicant-interface/src/components/SearchAndFilter/SearchBar.vue
  frontend/applicant-interface/src/pages/detail/xiangguanzhiwei/xiangguanzhiwei.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/most/chengshixuanze/chengshixuanze.vue
  frontend/applicant-interface/src/pages/most/shaixuanyemian/shaixuanyemian.vue
  frontend/applicant-interface/src/pages/most/sousuoyemian/sousuoyemian.vue
  frontend/applicant-interface/src/pages/most/weizhixuanze/weizhixuanze.vue
  frontend/applicant-interface/src/pages/most/zhiweileixing/zhiweileixing.vue
  frontend/applicant-interface/src/pages/record/daimianshi/daimianshi.vue
  frontend/applicant-interface/src/pages/record/guanzhugongsi/guanzhugongsi.vue
  frontend/applicant-interface/src/pages/record/shoucangzhiwei/shoucangzhiwei.vue
  frontend/applicant-interface/src/pages/record/shuikanguowo/shuikanguowo.vue
  frontend/applicant-interface/src/pages/record/toudijilu/toudijilu.vue
  frontend/applicant-interface/src/pages/record/wodechakan/wodechakan.vue
  frontend/manager-interface/index.html
  frontend/manager-interface/src/App.vue
  frontend/personnel-interface/src/main.ts
  frontend/personnel-interface/src/pages/Manage/Interview/index.vue
  frontend/personnel-interface/src/pages/Manage/Position/index.vue
  frontend/personnel-interface/src/pages/PublishJob/PublishJob.vue
  frontend/personnel-interface/src/styles/style.scss
  packages/nest-common/src/decorator/query.decorator.ts
  packages/service-common/src/interfaces/query.ts
Due: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

fix: fix
  frontend/advertiser-interface/vite.config.ts
  frontend/applicant-interface/src/pages/info/gerenxinxi/gerenxinxi.vue
  frontend/applicant-interface/vite.config.ts
  frontend/manager-interface/vite.config.ts
  frontend/personnel-interface/src/hooks/index.ts
  frontend/personnel-interface/src/hooks/use-path.ts
  frontend/personnel-interface/src/pages/Manage/Interview/index.vue
  frontend/personnel-interface/src/pages/Manage/Interview/resumeInfo.vue
  frontend/personnel-interface/src/pages/Manage/Resume/DwResume.vue
  frontend/personnel-interface/src/pages/Manage/Resume/ReResume.vue
  frontend/personnel-interface/src/pages/Manage/Resume/ResumeFooter.vue
  frontend/personnel-interface/src/pages/Manage/index.vue
  frontend/personnel-interface/src/router/index.ts
  frontend/personnel-interface/vite.config.ts
  packages/service-common/src/request/services/CommonService.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix
  frontend/applicant-interface/src/pages/info/gerenxinxi/gerenxinxi.vue
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/pages/mine/bianjijianli/bianjijianli.vue
Due: none

fix: fix
  backend/applicant-service/src/attentionRecord/attentionRecord.service.ts
  backend/applicant-service/src/deliveryRecord/deliveryRecord.service.ts
  backend/applicant-service/src/garnerRecord/garnerRecord.service.ts
  backend/applicant-service/src/inspectionRecord/inspectionRecord.service.ts
  backend/common-service/src/common/message.gateway.ts
  backend/personnel-service/src/inspectionRecord/inspectionRecord.service.ts
  frontend/applicant-interface/package.json
  frontend/applicant-interface/src/components/BubbleBox/BubbleBoxUser.vue
  frontend/applicant-interface/src/components/MailBar/MailBar.vue
  frontend/applicant-interface/src/interfaces/message.ts
  frontend/applicant-interface/src/pages/main/xiaoxiyemian/xiaoxiyemian.vue
  frontend/applicant-interface/src/pages/mine/liaotianyemian/liaotianyemian.vue
  frontend/applicant-interface/src/stores/main.ts
  frontend/applicant-interface/src/utils/useTimeChange.ts
  frontend/personnel-interface/package.json
  frontend/personnel-interface/src/pages/Manage/Resume/ReResume.vue
  frontend/personnel-interface/src/stores/main.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

Path conditions:
  s-prettier: ((((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{css,scss,sass,less,styl})) or (any of: *.{json,yaml,yml,md})) or (any of: *.{vue})
  s-vue-tsc-files --noEmit: (any of: *.{ts,tsx}) or (any of: *.{vue})
  stylelint --fix: (any of: *.{css,scss,sass,less,styl}) or (any of: *.{vue})
