Repository ucstu/dongjiang-recruitment: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, s-vue-tsc-files --noEmit, stylelint --fix

style(nest-common\request-hooks): 修正代码样式
  packages/nest-common/src/mailer/templates/verification-code.hbs
  packages/request-hooks/src/utils/builder.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

cd: 完成CD配置
  .github/workflows/ci-cd-complete.yaml
  .github/workflows/monorepo-scripts/configuration.json
  .github/workflows/monorepo-scripts/detect-changes.js
  backend/Dockerfile.node
  backend/advertiser-service/package.json
  backend/applicant-service/package.json
  backend/authentication-service/package.json
  backend/common-service/package.json
  backend/company-service/package.json
  deploy.yaml
  frontend/Dockerfile.web
  packages/nest-common/src/config/authorization.config.ts
  packages/nest-common/src/config/configuration.yaml.ts
  packages/nest-common/src/config/database.config.ts
  packages/nest-common/src/config/mailer.config.ts
  packages/nest-common/src/config/redis.config.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/common-service): 修正公用API接口路径
  backend/common-service/src/common/common.controller.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(packages/nest-common): 修复不自动构建其依赖的问题
  packages/nest-common/package.json
Due: prettier --write

ci: 修复CI/CD
  .github/workflows/codeql.yaml
  deploy.yaml
Due: prettier --write

fix(scripts): 修复构建脚本的潜在问题
  scripts/bin/prettier.js
  scripts/src/prettier.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/authentication-service): 修复已知问题
  backend/authentication-service/src/actions/actions.module.ts
  backend/authentication-service/src/main.ts
  deploy.yaml
  packages/nest-common/src/auth/jwt.strategy.ts
  packages/nest-common/src/auth/user.dto.ts
  packages/nest-common/src/http/client.module.ts
  packages/nest-common/src/http/http.module.ts
  packages/nest-common/src/http/index.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/authentication-service): 完成账号登录注册全流程
  backend/applicant-service/src/applicant/entities/applicant.entity.ts
  backend/authentication-service/src/account/account.service.ts
  backend/authentication-service/src/account/dto/create-account.dto.ts
  backend/authentication-service/src/account/entities/account.entity.ts
  backend/authentication-service/src/actions/actions.controller.ts
  backend/authentication-service/src/actions/actions.service.ts
  backend/authentication-service/src/actions/dto/register-action.dto.ts
  backend/authentication-service/src/actions/entities/action.entity.ts
  backend/authentication-service/src/app.module.ts
  backend/authentication-service/src/bcrypt.module.ts
  packages/nest-common/src/auth/index.ts
  packages/service-common/openapi.json
  packages/service-common/package.json
  packages/service-common/rollup.config.js
  packages/service-common/src/request/models/Account.ts
  packages/service-common/src/request/models/Advertise.ts
  packages/service-common/src/request/models/Advertiser.ts
  packages/service-common/src/request/models/Applicant.ts
  packages/service-common/src/request/models/ApplicantInspectionRecord.ts
  packages/service-common/src/request/models/AttentionRecord.ts
  packages/service-common/src/request/models/Authority.ts
  packages/service-common/src/request/models/AuthorityGroup.ts
  packages/service-common/src/request/models/Company.ts
  packages/service-common/src/request/models/DeliveryRecord.ts
  packages/service-common/src/request/models/EducationExperience.ts
  packages/service-common/src/request/models/GarnerRecord.ts
  packages/service-common/src/request/models/JobExpectation.ts
  packages/service-common/src/request/models/MessageRecord.ts
  packages/service-common/src/request/models/Personnel.ts
  packages/service-common/src/request/models/PersonnelInspectionRecord.ts
  packages/service-common/src/request/models/Position.ts
  packages/service-common/src/request/models/ProjectExperience.ts
  packages/service-common/src/request/models/WorkExperience.ts
  packages/service-common/src/request/services/AuthenticationAccountService.ts
  packages/service-common/src/request/services/AuthenticationService.ts
  packages/service-common/tsconfig.config.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/personal-service): 修复人事服务
  backend/personnel-service/src/app.module.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/personal-service): 修复人事服务 (#6)
  backend/personnel-service/src/app.module.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: 修复CD
  .github/workflows/ci-cd-complete.yaml
  package.json
Due: prettier --write

fix: CD (#7)
  .github/workflows/ci-cd-complete.yaml
  package.json
Due: prettier --write

fix(backend/personnel-service): 人事服务无法启动修复
  backend/personnel-service/src/personnel/entities/personnel.entity.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/personnel-service): 人事服务无法启动修复 (#9)
  backend/personnel-service/src/personnel/entities/personnel.entity.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix(backend/authentication-service): 修复已知问题
  backend/authentication-service/src/account/account.service.ts
  packages/service-common/openapi.json
  packages/service-common/src/request/models/Account.ts
  packages/service-common/src/request/models/Advertise.ts
  packages/service-common/src/request/models/Advertiser.ts
  packages/service-common/src/request/models/Applicant.ts
  packages/service-common/src/request/models/ApplicantInspectionRecord.ts
  packages/service-common/src/request/models/AttentionRecord.ts
  packages/service-common/src/request/models/Authority.ts
  packages/service-common/src/request/models/AuthorityGroup.ts
  packages/service-common/src/request/models/Company.ts
  packages/service-common/src/request/models/DeliveryRecord.ts
  packages/service-common/src/request/models/EducationExperience.ts
  packages/service-common/src/request/models/GarnerRecord.ts
  packages/service-common/src/request/models/JobExpectation.ts
  packages/service-common/src/request/models/Personnel.ts
  packages/service-common/src/request/models/PersonnelInspectionRecord.ts
  packages/service-common/src/request/models/Position.ts
  packages/service-common/src/request/models/ProjectExperience.ts
  packages/service-common/src/request/models/WorkExperience.ts
  packages/service-common/src/request/schemas/$Account.ts
  packages/service-common/src/request/schemas/$Advertise.ts
  packages/service-common/src/request/schemas/$Advertiser.ts
  packages/service-common/src/request/schemas/$Applicant.ts
  packages/service-common/src/request/schemas/$ApplicantInspectionRecord.ts
  packages/service-common/src/request/schemas/$AttentionRecord.ts
  packages/service-common/src/request/schemas/$Authority.ts
  packages/service-common/src/request/schemas/$AuthorityGroup.ts
  packages/service-common/src/request/schemas/$Company.ts
  packages/service-common/src/request/schemas/$DeliveryRecord.ts
  packages/service-common/src/request/schemas/$EducationExperience.ts
  packages/service-common/src/request/schemas/$GarnerRecord.ts
  packages/service-common/src/request/schemas/$JobExpectation.ts
  packages/service-common/src/request/schemas/$Personnel.ts
  packages/service-common/src/request/schemas/$PersonnelInspectionRecord.ts
  packages/service-common/src/request/schemas/$Position.ts
  packages/service-common/src/request/schemas/$ProjectExperience.ts
  packages/service-common/src/request/schemas/$WorkExperience.ts
  packages/service-common/src/request/services/AuthenticationAccountService.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

feat: 公司接口
  backend/authentication-service/src/account/account.controller.ts
  backend/authentication-service/src/actions/actions.service.ts
  backend/company-service/package.json
  backend/company-service/src/app.controller.spec.ts
  backend/company-service/src/app.controller.ts
  backend/company-service/src/app.module.ts
  backend/company-service/src/app.service.ts
  backend/company-service/src/company/company.controller.ts
  backend/company-service/src/company/company.module.ts
  backend/company-service/src/company/company.service.ts
  backend/company-service/src/company/dto/create-company.dto.ts
  backend/company-service/src/company/dto/update-company.dto.ts
  backend/company-service/src/company/entities/company.entity.ts
  backend/company-service/src/position/dto/create-position.dto.ts
  backend/company-service/src/position/dto/update-position.dto.ts
  backend/company-service/src/position/entities/position.entity.ts
  backend/company-service/src/position/position.controller.ts
  backend/company-service/src/position/position.module.ts
  backend/company-service/src/position/position.service.ts
  packages/nest-common/src/auth/jwt.strategy.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

123
  backend/applicant-service/src/app.module.ts
  backend/applicant-service/src/applicant/applicant.controller.ts
  backend/applicant-service/src/attentionRecord/attentionRecord.controller.ts
  backend/applicant-service/src/deliveryRecord/deliveryRecord.controller.ts
  backend/applicant-service/src/educationExperience/educationExperience.controller.ts
  backend/applicant-service/src/garnerRecord/garnerRecord.controller.ts
  backend/applicant-service/src/inspectionRecord/inspectionRecord.controller.ts
  backend/applicant-service/src/jobExpectation/jobExpectation.controller.ts
  backend/applicant-service/src/projectExperience/projectExperience.controller.ts
  backend/applicant-service/src/workExperience/workExperience.controller.ts
  backend/company-service/src/app.module.ts
  backend/personnel-service/src/app.module.ts
  packages/nest-common/src/auth/index.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

12
  frontend/applicant-interface/src/components/JobPanel/JobPanel.vue
  frontend/applicant-interface/src/components/MailBar/MailBar.vue
  frontend/applicant-interface/src/pages/main/xiaoxiyemian/xiaoxiyemian.vue
  frontend/applicant-interface/src/pages/mine/liaotianyemian/liaotianyemian.vue
  frontend/personnel-interface/env.d.ts
  frontend/personnel-interface/package.json
  frontend/personnel-interface/src/App.vue
  frontend/personnel-interface/src/components/CompanyLocation.spec.ts
  frontend/personnel-interface/src/pages/Home/Company.vue
  frontend/personnel-interface/src/pages/Home/Person.vue
  frontend/personnel-interface/src/pages/LoginPage/LoginPage.vue
  frontend/personnel-interface/src/pages/Manage/Data/index.vue
  frontend/personnel-interface/src/pages/Manage/Individual/Firm.vue
  frontend/personnel-interface/src/pages/Manage/Interview/index.vue
  frontend/personnel-interface/src/pages/Manage/Interview/resumeInfo.vue
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatBox.vue
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatUserList.vue
  frontend/personnel-interface/src/pages/Manage/Message/index.vue
  frontend/personnel-interface/src/pages/Manage/Position/index.vue
  frontend/personnel-interface/src/pages/Manage/Resume/DwResume.vue
  frontend/personnel-interface/src/pages/Manage/Resume/ReResume.vue
  frontend/personnel-interface/src/pages/Manage/Resume/index.vue
  frontend/personnel-interface/src/pages/Manage/Talent/index.vue
  frontend/personnel-interface/src/pages/Manage/index.vue
  frontend/personnel-interface/src/pages/PublishJob/PublishJob.vue
  frontend/personnel-interface/src/pages/RegisterPage/RegisterPage.vue
  frontend/personnel-interface/src/pages/Setting/Authentication/Execution.vue
  frontend/personnel-interface/src/pages/Setting/Other/Password.vue
  frontend/personnel-interface/src/pages/Setting/Other/Privary.vue
  frontend/personnel-interface/src/pages/Setting/PersonInfo/index.vue
  frontend/personnel-interface/src/router/index.ts
  frontend/personnel-interface/src/stores/main.ts
  packages/service-common/openapi.json
  packages/service-common/scripts/generate.ts
  packages/service-common/src/request/services/ApplicantDeliveryRecordService.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: fix
  .github/workflows/ci-cd-complete.yaml
  .github/workflows/monorepo-scripts/configuration.json
  .lintstagedrc
  backend/applicant-service/src/main.ts
  backend/authentication-service/src/account/account.controller.ts
  backend/authentication-service/src/main.ts
  backend/common-service/src/main.ts
  backend/company-service/src/main.ts
  backend/personnel-service/src/main.ts
  frontend/applicant-interface/components.d.ts
  frontend/applicant-interface/src/components/Frame/Frame..vue
  frontend/applicant-interface/src/components/JobDetail/JobDetail.vue
  frontend/applicant-interface/src/components/wyb-modal/wyb-modal.vue
  frontend/applicant-interface/src/pages/detail/gongsijieshao/gongsijieshao.vue
  frontend/applicant-interface/src/pages/detail/zhiweixiangqing/zhiweixiangqing.vue
  frontend/applicant-interface/src/pages/info/gerenxinxi/gerenxinxi.vue
  frontend/applicant-interface/src/pages/info/gongzuojingli/gongzuojingli.vue
  frontend/applicant-interface/src/pages/info/jiaoyujingli/jiaoyujingli.vue
  frontend/applicant-interface/src/pages/info/xiangmujingli/xiangmujingli.vue
  frontend/applicant-interface/src/pages/most/sousuoyemian/sousuoyemian.vue
  frontend/applicant-interface/src/pages/most/weizhixuanze/weizhixuanze.vue
  frontend/applicant-interface/src/pages/most/zhiweileixing/zhiweileixing.vue
  frontend/applicant-interface/src/pages/record/guanzhugongsi/guanzhugongsi.vue
  frontend/personnel-interface/.stylelintrc
  frontend/personnel-interface/components.d.ts
  frontend/personnel-interface/env.d.ts
  frontend/personnel-interface/src/App.vue
  frontend/personnel-interface/src/components/Hrinfouse.vue
  frontend/personnel-interface/src/main.ts
  frontend/personnel-interface/src/pages/Home/Company.vue
  frontend/personnel-interface/vite.config.ts
  scripts/src/lint-fix.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: fix
  .github/workflows/ci-cd-complete.yaml
Due: prettier --write

fix: ignore
  .github/workflows/monorepo-scripts/configuration.json
Due: prettier --write

fix: fix
  backend/company-service/src/company/company.controller.ts
  backend/company-service/src/position/position.controller.ts
  backend/personnel-service/src/inspectionRecord/inspectionRecord.controller.ts
  backend/personnel-service/src/personnel/personnel.controller.ts
  frontend/personnel-interface/components.d.ts
  frontend/personnel-interface/src/pages/RegisterPage/RegisterPage.vue
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: fix
  backend/advertiser-service/src/advertiser/entities/advertiser.entity.ts
  backend/applicant-service/src/applicant/entities/applicant.entity.ts
  backend/authentication-service/src/account/account.service.ts
  backend/authentication-service/src/account/entities/account.entity.ts
  backend/authentication-service/src/actions/actions.service.ts
  backend/authentication-service/src/authority-group/entities/authority-group.entity.ts
  backend/company-service/src/company/entities/company.entity.ts
  backend/company-service/src/position/entities/position.entity.ts
  backend/personnel-service/src/personnel/entities/personnel.entity.ts
  packages/nest-common/src/auth/jwt.dec.ts
  packages/nest-common/src/auth/jwt.guard.ts
  packages/nest-common/src/auth/jwt.strategy.ts
  packages/nest-common/src/auth/user.dto.ts
  packages/nest-common/src/auth/utill.ts
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: fix
  .github/workflows/ci-cd-complete.yaml
  .github/workflows/monorepo-scripts/configuration.json
  backend/Dockerfile.node
  backend/advertiser-service/src/main.ts
  backend/applicant-service/src/main.ts
  backend/authentication-service/src/main.ts
  backend/common-service/src/main.ts
  backend/company-service/src/main.ts
  backend/personnel-service/src/main.ts
  backend/scripts/.eslintrc
  backend/scripts/package.json
  backend/scripts/services.json
  backend/scripts/src/services.ts
  backend/scripts/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, s-vue-tsc-files --noEmit

fix: fix
  frontend/personnel-interface/src/App.vue
  frontend/personnel-interface/src/pages/LoginPage/LoginPage.vue
Due: none

fix: fix
  frontend/applicant-interface/package.json
  frontend/applicant-interface/src/style.scss
  pnpm-lock.yaml
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{vue})
  prettier --write: ((((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{css,scss,sass,less,styl})) or (any of: *.{json,yaml,yml,md})) or (any of: *.{vue})
  s-vue-tsc-files --noEmit: (any of: *.{ts,tsx}) or (any of: *.{vue})
  stylelint --fix: (any of: *.{css,scss,sass,less,styl}) or (any of: *.{vue})
