Repository ucstu/dongjiang-recruitment: changes, and which lint-staged commands are due for each by the changed paths.
All: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["s-prettier"],
  "*.{ts,tsx}": ["s-vue-tsc-files --noEmit", "s-prettier"],
  "*.{css,scss,sass,less,styl}": ["stylelint --fix", "s-prettier"],
  "*.{json,yaml,yml,md}": ["s-prettier"],
  "*.{vue}": [
    "stylelint --fix",
    "s-vue-tsc-files --noEmit",
    "s-prettier"
  ]
}

fix: fix
  pnpm-lock.yaml
Due: s-prettier

fix
  frontend/applicant-interface/src/components/wyb-popup/wyb-popup.vue
  frontend/applicant-interface/src/pages/setting/wodezhanghu/wodezhanghu.vue
Due: none

fix
  frontend/applicant-interface/src/pages/account/denglu_zhuce/denglu.vue
  frontend/applicant-interface/src/pages/mine/shezhiyemian/shezhiyemian.vue
  frontend/applicant-interface/src/pages/setting/wodezhanghu/wodezhanghu.vue
  frontend/applicant-interface/src/stores/main.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/applicant-interface/src/components/BubbleBox/BubbleBoxHr.vue
  frontend/applicant-interface/src/stores/main.ts
  frontend/personnel-interface/src/App.vue
  frontend/personnel-interface/src/pages/LoginPage/LoginPage.vue
  frontend/personnel-interface/src/pages/Manage/Data/index.vue
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatBox.vue
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatBoxBottom.vue
  frontend/personnel-interface/src/pages/Manage/Message/index.vue
  frontend/personnel-interface/src/router/index.ts
  frontend/personnel-interface/src/stores/main.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/applicant-interface/src/components/CompanyPanel/CompanyPanel.vue
  frontend/applicant-interface/src/components/JobPanel/JobPanel.vue
  frontend/applicant-interface/src/pages/detail/zhiweixiangqing/zhiweixiangqing.vue
  frontend/applicant-interface/src/pages/main/xiaoxiyemian/xiaoxiyemian.vue
  frontend/applicant-interface/src/pages/mine/liaotianyemian/liaotianyemian.vue
  frontend/applicant-interface/src/stores/main.ts
  frontend/personnel-interface/src/pages/Manage/Message/components/ChatUserList.vue
  frontend/personnel-interface/src/pages/Manage/Message/index.vue
  frontend/personnel-interface/src/pages/Manage/Resume/index.vue
  frontend/personnel-interface/src/stores/main.ts
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
Due: none

fix: fix
  frontend/applicant-interface/src/pages.json
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
Due: s-prettier

fix: fix
  frontend/applicant-interface/components.d.ts
  frontend/applicant-interface/package.json
  frontend/applicant-interface/src/components/z-paging-cell/z-paging-cell.vue
  frontend/applicant-interface/src/components/z-paging-empty-view/z-paging-empty-view.vue
  frontend/applicant-interface/src/components/z-paging-swiper-item/z-paging-swiper-item.vue
  frontend/applicant-interface/src/components/z-paging-swiper/z-paging-swiper.vue
  frontend/applicant-interface/src/components/z-paging/components/z-paging-load-more.vue
  frontend/applicant-interface/src/components/z-paging/components/z-paging-refresh.vue
  frontend/applicant-interface/src/components/z-paging/config/index.js
  frontend/applicant-interface/src/components/z-paging/css/z-paging-main.css
  frontend/applicant-interface/src/components/z-paging/css/z-paging-static.css
  frontend/applicant-interface/src/components/z-paging/i18n/en.json
  frontend/applicant-interface/src/components/z-paging/i18n/index.js
  frontend/applicant-interface/src/components/z-paging/i18n/zh-Hans.json
  frontend/applicant-interface/src/components/z-paging/i18n/zh-Hant.json
  frontend/applicant-interface/src/components/z-paging/js/modules/back-to-top.js
  frontend/applicant-interface/src/components/z-paging/js/modules/common-layout.js
  frontend/applicant-interface/src/components/z-paging/js/modules/data-handle.js
  frontend/applicant-interface/src/components/z-paging/js/modules/empty.js
  frontend/applicant-interface/src/components/z-paging/js/modules/i18n.js
  frontend/applicant-interface/src/components/z-paging/js/modules/load-more.js
  frontend/applicant-interface/src/components/z-paging/js/modules/loading.js
  frontend/applicant-interface/src/components/z-paging/js/modules/nvue.js
  frontend/applicant-interface/src/components/z-paging/js/modules/refresher.js
  frontend/applicant-interface/src/components/z-paging/js/modules/scroller.js
  frontend/applicant-interface/src/components/z-paging/js/modules/virtual-list.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-config.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-constant.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-enum.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-interceptor.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-main.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-mixin.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-static.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-utils.js
  frontend/applicant-interface/src/components/z-paging/wxs/z-paging-renderjs.js
  frontend/applicant-interface/src/components/z-paging/wxs/z-paging-wxs.wxs
  frontend/applicant-interface/src/components/z-paging/z-paging.vue
  frontend/applicant-interface/src/pages.json
  frontend/applicant-interface/tsconfig.json
  pnpm-lock.yaml
Due: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

fix
  frontend/applicant-interface/src/pages/setting/shezhimima/shezhimima.vue
Due: none

fix: fix
  backend/recommend-service/.gitignore
  backend/recommend-service/kernel/algorithm/__init__.py
  backend/recommend-service/kernel/algorithm/like.py
  backend/recommend-service/kernel/algorithm/similarity.py
  backend/recommend-service/kernel/basic.py
  backend/recommend-service/kernel/cronJobs/__init__.py
  backend/recommend-service/kernel/cronJobs/job.py
  backend/recommend-service/kernel/cronJobs/matrix.py
  backend/recommend-service/kernel/cronJobs/user.py
  backend/recommend-service/kernel/crons/job.py
  backend/recommend-service/kernel/crons/matrix.py
  backend/recommend-service/kernel/crons/user.py
  backend/recommend-service/kernel/passages/itemcf.py
  backend/recommend-service/kernel/passages/matrix.py
  backend/recommend-service/kernel/passages/usercf.py
  backend/recommend-service/kernel/sortings/dssm.py
  backend/recommend-service/kernel/sortings/mmr.py
  backend/recommend-service/main.py
  backend/recommend-service/models/job.py
  backend/recommend-service/models/user.py
  backend/recommend-service/requirements.txt
  backend/recommend-service/utils/authentication.py
  backend/recommend-service/utils/database.py
  frontend/applicant-interface/src/pages/mine/liaotianyemian/liaotianyemian.vue
Due: none

fix
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
Due: none

fix: fix
  .github/workflows/monorepo-scripts/configuration.json
  backend/Dockerfile.python
  backend/recommend-service/kernel/passages/itemcf.py
  backend/recommend-service/kernel/passages/usercf.py
  backend/recommend-service/main.py
  backend/recommend-service/models/job.py
  backend/recommend-service/models/user.py
  backend/recommend-service/requirements.txt
  backend/recommend-service/utils/authentication.py
  backend/recommend-service/utils/database.py
Due: s-prettier

dddd
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
Due: none

fix: fix
  backend/common-service/src/common/common.controller.ts
  backend/common-service/src/common/common.service.ts
  backend/company-service/src/company/company.controller.ts
  backend/recommend-service/kernel/cronJobs/matrix.py
  backend/recommend-service/kernel/passages/matrix.py
  backend/recommend-service/main.py
  backend/recommend-service/requirements.txt
  backend/scripts/services.json
  frontend/applicant-interface/src/pages/main/shouyeyemian/shouyeyemian.vue
  frontend/applicant-interface/src/stores/main.ts
  frontend/manager-interface/src/pages/company-manage/position-manage.vue
  packages/nest-common/src/mailer/templates/recommend-job.hbs
  packages/nest-common/src/mailer/templates/recommend-job.hbs.json
  packages/service-common/src/index.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/recommend-service/main.py
Due: none

fix: fix
  backend/recommend-service/models/job.py
  backend/recommend-service/models/user.py
  backend/recommend-service/utils/database.py
Due: none

fix: fix
  backend/authentication-service/src/account/account.service.ts
  frontend/applicant-interface/src/pages.json
  frontend/applicant-interface/src/pages/account/denglu_zhuce/zhucezhanghao.vue
  frontend/applicant-interface/src/pages/info/qiuzhiqiwang/qiuzhiqiwang.vue
  frontend/applicant-interface/src/pages/init/wanshangerenxinxi/wanshangerenxinxi.vue
  frontend/applicant-interface/src/pages/main/wodeyemian/wodeyemian.vue
  frontend/applicant-interface/src/pages/setting/shezhimima/shezhimima.vue
  frontend/applicant-interface/src/pages/setting/wodezhanghu/wodezhanghu.vue
  frontend/applicant-interface/src/stores/main.ts
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/recommend-service/utils/database.py
Due: none

fix: fix
  backend/recommend-service/main.py
  backend/scripts/package.json
Due: s-prettier

fix: fix
  backend/common-service/src/common/common.service.ts
  backend/recommend-service/main.py
Due: s-prettier, s-vue-tsc-files --noEmit

fix: fix
  backend/recommend-service/main.py
  backend/recommend-service/requirements.txt
Due: none

fix: fix
  frontend/applicant-interface/auto-imports.d.ts
  frontend/applicant-interface/components.d.ts
  frontend/applicant-interface/src/components/z-paging-cell/z-paging-cell.vue
  frontend/applicant-interface/src/components/z-paging-empty-view/z-paging-empty-view.vue
  frontend/applicant-interface/src/components/z-paging-swiper-item/z-paging-swiper-item.vue
  frontend/applicant-interface/src/components/z-paging-swiper/z-paging-swiper.vue
  frontend/applicant-interface/src/components/z-paging/components/z-paging-load-more.vue
  frontend/applicant-interface/src/components/z-paging/components/z-paging-refresh.vue
  frontend/applicant-interface/src/components/z-paging/config/index.js
  frontend/applicant-interface/src/components/z-paging/css/z-paging-main.css
  frontend/applicant-interface/src/components/z-paging/css/z-paging-static.css
  frontend/applicant-interface/src/components/z-paging/i18n/en.json
  frontend/applicant-interface/src/components/z-paging/i18n/index.js
  frontend/applicant-interface/src/components/z-paging/i18n/zh-Hans.json
  frontend/applicant-interface/src/components/z-paging/i18n/zh-Hant.json
  frontend/applicant-interface/src/components/z-paging/js/modules/back-to-top.js
  frontend/applicant-interface/src/components/z-paging/js/modules/common-layout.js
  frontend/applicant-interface/src/components/z-paging/js/modules/data-handle.js
  frontend/applicant-interface/src/components/z-paging/js/modules/empty.js
  frontend/applicant-interface/src/components/z-paging/js/modules/i18n.js
  frontend/applicant-interface/src/components/z-paging/js/modules/load-more.js
  frontend/applicant-interface/src/components/z-paging/js/modules/loading.js
  frontend/applicant-interface/src/components/z-paging/js/modules/nvue.js
  frontend/applicant-interface/src/components/z-paging/js/modules/refresher.js
  frontend/applicant-interface/src/components/z-paging/js/modules/scroller.js
  frontend/applicant-interface/src/components/z-paging/js/modules/virtual-list.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-config.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-constant.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-enum.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-interceptor.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-main.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-mixin.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-static.js
  frontend/applicant-interface/src/components/z-paging/js/z-paging-utils.js
  frontend/applicant-interface/src/components/z-paging/wxs/z-paging-renderjs.js
  frontend/applicant-interface/src/components/z-paging/wxs/z-paging-wxs.wxs
  frontend/applicant-interface/src/components/z-paging/z-paging.vue
Due: s-prettier, s-vue-tsc-files --noEmit, stylelint --fix

fix
  frontend/applicant-interface/src/components/JobDetail/JobDetail.vue
  frontend/applicant-interface/src/pages/detail/zhiweixiangqing/zhiweixiangqing.vue
  frontend/applicant-interface/src/pages/info/gerenxinxi/gerenxinxi.vue
  frontend/applicant-interface/src/pages/info/viewresume/viewresume.vue
Due: none

fix: fix
  backend/recommend-service/kernel/sortings/mmr.py
  backend/recommend-service/main.py
Due: none

fix: fix
  backend/recommend-service/kernel/algorithm/similarity.py
  backend/recommend-service/kernel/cronJobs/job.py
  backend/recommend-service/kernel/passages/content.py
  backend/recommend-service/kernel/sortings/mmr.py
  backend/recommend-service/main.py
  backend/recommend-service/models/job.py
  backend/recommend-service/requirements.txt
  backend/recommend-service/utils/database.py
Due: none

fix: fix
  backend/recommend-service/kernel/cronJobs/job.py
Due: none

fix: fix
  backend/recommend-service/kernel/cronJobs/job.py
  backend/recommend-service/utils/database.py
Due: none

fix: fix
  backend/recommend-service/kernel/cronJobs/job.py
  backend/recommend-service/main.py
  backend/recommend-service/utils/database.py
Due: none
